$primary-color: #471D4F;
$secondary-color:#EEE4F1;
$tertiary-color:#8F8F8F;
$quaternary-color:#000000;
$quinary-color:#FFFFFF;
$senary-color:#F3F3F3;
$septenary-color:#F9F9F9;
$octonary-color:#563461;
$nine-color: #643762;
$tenth-color: #BEA1C7;
$eleventh-color: #F2F2F2;